<form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" value="file">
    </div>

    <div class="form-group">
    <label>format</label>
    <select name="format">
        <option value="json">json</option>
        <option value="csv">csv</option>
        <option value="xml">xml</option>
    </select>
    </div>

    <div class="form-group">
    <button type="submit" name="submit" value="submit" class="btn btn-default">Convert</button>
    </div>

</form>